<!-- inventory/templates/inventory/upload_excel.html -->
{% extends "base.html" %}

{% block title %}Upload Excel{% endblock %}

{% block content %}
<h1 class="text-center">Upload Excel</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="excel_file">Choose Excel File</label>
        <input type="file" class="form-control" id="excel_file" name="excel_file" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endblock %}
